 .u-section-1 {
  min-height: 701px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 701px;
  background-image: url("images/rst-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-group-1 {
  width: 408px;
  min-height: 701px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 701px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 167px 0 0 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    min-height: 698px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 606px;
  }

  .u-section-1 .u-image-1 {
    min-height: 443px;
    background-position: 67.45% 60.84%;
    background-size: auto 135%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 606px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 573px;
  }

  .u-section-1 .u-image-1 {
    min-height: 475px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 140px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-image-1 {
    min-height: 299px;
  }

  .u-section-1 .u-group-1 {
    width: 330px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 50px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 871px;
}

.u-section-2 .u-form-1 {
  height: 565px;
  margin: 81px 570px 0 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: -532px 199px 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px 306px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 447px;
  height: 335px;
  margin: 46px 68px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 570px;
    margin-top: 420px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 350px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -377px;
    margin-right: 94px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }
}